/* Main Image */

.mainImagex 
{
    background: url(../../../img/skins/facephi/entrada.jpg) no-repeat;
}

.mainImage2x 
{
    background: url(../../../img/skins/facephi/entrada2.jpg) no-repeat;
}

.mainImage3 
{
    background: transparent;
    padding-bottom: 20px;
}


/* Main Color */

.mainColor { color: #3276b1 }

.mainBorder { border: 1px solid #3276b1; }

.mainBorder2{ border: 6px solid #3276b1; }

.mainBorderBottom { border-bottom: 3px solid #3276b1; }

.mainBorderLeft { border-left: 5px solid #3276b1; }

.mainBorderColor { border-color: white; }

.mainBackground { background: #3276b1 }

.mainMobileColor { background: #0ba3c7 }

.mainBackColor { background-color: #3276b1; }

.mainBackgroundError { background: #3276b1; }

.secondaryColor { background: white; }

.thirdColor { background: #faf7f7; }

.bannerColor { background-color: #6C6666; }

.filterColor { color: #717270 }

.labelInfoColor {

    color: #0ba3c7;
    font-size: 12px;
    font-weight: 400;
    margin-left: -25px;
}


.btn0 {

    width: 190px;
    height: 45px;
    border: solid 2px white;
    text-transform: uppercase;
}

.btnLiveness {

    width: 225px;
    height: 40px;
    border: solid 2px white;
    text-transform: uppercase;
    font-size: 18px;
}



.btn1 {

    width: 130px;
    height: 45px;
    border: solid 2px white;
    text-transform: uppercase;
}

.btn2 {

    width: 40px;
    height: 40px;
    border: none;
    cursor:pointer;
    text-transform: uppercase;
    font-size: 30px;
}

.margin-edit {

    margin: 60px 20px 20px 40px;
}

.margin-actions {

    margin: 0px 20px 0px 40px;
}

.short-div {

    height: 30px;
}

.medium-div {

    height: 45px;
}

.marginIcons {

    text-align: center;
    margin-top: 30%;
}

.marginIcons2 {

    text-align: center;
    margin-top: 10%;
}


.btnPadding {

    padding: 8px 8px 8px 8px;
}

.btn3 {

    width: 190px;
    height: 55px;
    border: none;
    text-transform: uppercase;
}

.btn4 {

    width: 190px;
    height: 45px;
    border: solid 1px #3276b1;
    border-radius: 5px;
    text-transform: uppercase;
}

.btn5 {

    width: 160px;
    height: 45px;
    border: solid 2px white;
}

.btn2:hover {

    width: 40px;
    height: 40px;
    border: none;
    cursor:pointer;
    text-transform: uppercase;
    font-size: 36px;
}


/* Bootstrap extended */

.row-top-extreme { margin-top:250px; }

.row-top-high { margin-top:120px; }

.row-top-medium { margin-top:100px; }

.row-top-small { margin-top:80px; }

.row-top-disclaimer { margin-top:40px; }

.row-top-smallest { margin-top:40px; }

.row-top-minor { margin-top:15px; }

.row-top-message { margin-top:5px; }

.row-top-message-pin { margin-top:-7px; }

.row-separator { margin-top:5px; }

.row-bottom-medium { margin-bottom:100px; }

.row-bottom-small { margin-bottom:80px; }

.row-bottom-smallest { margin-bottom:40px; }

.row-header-bottom-smallest { margin-bottom:35px; }

.row-header-top-smallest { margin-top:40px; }

.row-bottom-minor { margin-bottom:15px; }

.row-centered { text-align: center;}

.row-left { text-align: left;}

.row-right { text-align: right;}

.row-margin-left { text-align: left; margin-left: 33%;}

.row-margin-left-info { margin-left: 50px;}

.row-bottom-negative {

    margin-bottom: -10px;

}

.widthDisclaimer { width: 110%;   }


/* Bootstrap extended */


/* Button Color  */

.buttonColor { background-color: #d9534f; border-color: white; color: white }

.buttonColor:hover { background-color: transparent; border-color: #d9534f;  color: #d9534f }

.buttonColor:focus { background-color: transparent; border-color: #d9534f;  color: #d9534f }

.buttonColor:active { background-color: transparent; border-color: #d9534f;  color: #d9534f }


/* Button Color 0 */

.buttonColor0 { background-color: transparent; border-color: white; color: white }

.buttonColor0:hover { background-color: #d9534f; border-color: white;  color: white }

.buttonColor0:focus { background-color: #d9534f; border-color: white;  color: white }

.buttonColor0:active { background-color: #d9534f; border-color: white;  color: white }



/* Button Color 1 */

.buttonColor1 { background-color: #717270; border-color: #717270; color: white }

.buttonColor1:hover { background-color: transparent; border-color: #717270;  color :#717270 }

.buttonColor1:focus { background-color: transparent; border-color: #717270;  color: #717270 }

.buttonColor1:active { background-color: transparent; border-color: #717270;  color: #717270 }

.margin-extra { margin-top: 130px; }


/* Button Color 2 */ 

.buttonColor2 { background-color: #d9534f;border-color: #d9534f; color: white }

.buttonColor2:hover { background-color: transparent; border-color: #d9534f;  color: #d9534f }

.buttonColor2:focus { background-color: transparent; border-color: #d9534f;  color: #d9534f }

.buttonColor2:active { background-color: transparent; border-color: #d9534f;  color: #d9534f }


/* Button Color 3  */

.buttonColor3 { background-color: #673838; border-color: white; color: white }

.buttonColor3:hover { background-color: transparent; border-color: #673838;  color: #673838 }

.buttonColor3:focus { background-color: transparent; border-color: #673838;  color: #673838 }

.buttonColor3:active { background-color: transparent; border-color: #673838;  color: #673838 }


/* Button Color 4  */

.buttonColor4 { background-color: gray; border-color: white; color: white }

.buttonColor4:hover { background-color: transparent; border-color: gray;  color: gray }

.buttonColor4:focus { background-color: transparent; border-color: gray;  color: gray }

.buttonColor4:active { background-color: transparent; border-color: gray;  color: gray }


/* Button Color Liveness  */

.buttonColorLiv { background-color: gray; border-color: gray; color: white }



/* Button Color Liveness 2 */

.buttonColorLiv2 { background-color: #0ba3c7; border-color: #0ba3c7; color: white }


/* Button Color 5  */

.buttonColor5 { background-color: transparent; border-color: #0ba3c7; color: #0ba3c7; }

.buttonColor5:hover { background-color: #0ba3c7; border-color: white;  color: white }

.buttonColor5:focus { background-color: #0ba3c7; border-color: white;  color: white }

.buttonColor5:active { background-color: #0ba3c7; border-color: white;  color: white }


/* Button Color 6  */

.buttonColor6 { background-color: #0ba3c7; color: white; }

.buttonColor6:hover { background-color: #0ba3c7; border-color: white;color: white; opacity: 0.5 }

.buttonColor6:focus { background-color: #0ba3c7; border-color: white;  color: white; opacity: 0.5  }

.buttonColor6:active { background-color: #0ba3c7; border-color: white;  color: white; opacity: 0.5  }


/* Button Color 7  */

.buttonColor7 { background-color: transparent; border-color: #0ba3c7; color: #0ba3c7; }

.buttonColor7:hover { background-color: white; border: solid 3px;border-color: #0ba3c7; color: white;}

.buttonColor7:focus { background-color: #0ba3c7; border-color: white;color: white; }

.buttonColor7:active { background-color: #0ba3c7; border-color: white;color: white; }

/* Alternate Color 1 */

.color1 { color: #777 !important; }

.border1 { border-right: 1px solid #777; }

.bordertop1 { border-top: 1px solid #777; }

.shadow1 { -moz-box-shadow: 0 0 10px #777; -webkit-box-shadow: 0 0 10px #777; -box-shadow: 0 0 10px #777; }


/* Link Colors and Copyright */

.linkFacePhi { visibility: visible}

.linkColor { color: #00adee }

.linkColorBottom { border-bottom: 2px solid #00adee;   }

.linkColorBottom:hover {  border-bottom: 2px solid #00adee;   }

.linkColorBottom:focus {  border-bottom: 2px solid #00adee;   }

.linkBold 
{
    font-weight: bold;
    font-size: 18px;
}

.linkDatabase 
{
    /*font-weight: bold;*/
    font-size: 14px;
    font-weight: bold;
    height: 50px;
}

.copyColor { color: #00adee }

.copyBackGround { background: #3e4753 }

.linkColorBread { color: white !important}

.textCenter{ text-align: center}

.strong 
{
    color: #00adee !important;
    font-weight: 700;
}

.linkUnderlayed 
{
    color:  white !important;
    height: 55px;
    width: 45%;
    background-color: transparent;
    opacity: 0.9;
    color: white;
    font-size: 18px;
    font-style: italic;
    text-align: center;    
    
}

.linkUnderlayed:link 
{

    color:  white !important;
    height: 55px;
    width: 45%;
    background-color: transparent;
    opacity: 0.9;
    color: white;
    font-size: 18px;
    font-style: italic;
    text-align: center;    
    
}

.linkUnderlayedVisible 
{

    color:  #3276b1 !important;
    visibility: visible;
    
}

.linkUnderlayedVisible:link 
{

    color:  #3276b1 !important;
    visibility: visible;
    
}

/* Fuentes */

@font-face 
{
    font-family: 'open_sans';
    src: url('OpenSans-Regular-webfont.eot');
    src: url('OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('OpenSans-Regular-webfont.woff') format('woff'),
         url('OpenSans-Regular-webfont.ttf') format('truetype'),
         url('OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face 
{
    font-family: 'open_sans';
    src: url('OpenSans-Semibold-webfont.eot');
    src: url('OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('OpenSans-Semibold-webfont.woff') format('woff'),
         url('OpenSans-Semibold-webfont.ttf') format('truetype'),
         url('OpenSans-Semibold-webfont.svg#open_sanssemibold') format('svg');
    font-weight: bold;
    font-style: normal;
}
    
@font-face 
{
    font-family: 'open_sans';
    src: url('OpenSans-Light-webfont.eot');
    src: url('OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('OpenSans-Light-webfont.woff') format('woff'),
         url('OpenSans-Light-webfont.ttf') format('truetype'),
         url('OpenSans-Light-webfont.svg#open_sanslight') format('svg');
    font-weight: 300;
    font-style: normal;
}
    
@media screen and (-webkit-min-device-pixel-ratio:0) {

    @font-face {
        font-family: 'open_sans';
        src: url('OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    }
    
    @font-face {
        font-family: 'open_sans';
        src: url('OpenSans-Semibold-webfont.svg#open_sanssemibold') format('svg');
        font-weight:bold;
    }
        
    @font-face {
        font-family: 'open_sans';
        src: url('OpenSans-Light-webfont.svg#open_sanslight') format('svg');
        font-weight:300;
    }
}

/* Fin Fuentes */
    
/* Animaciones */

.animated 
{
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeInLeft 
{
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes fadeInLeft 
{
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    transform: translateX(-20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}

.fadeInLeft 
{
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
}

@-webkit-keyframes fadeInLeftBig 
{
  0% {
    opacity: 0;
    -webkit-transform: translateX(-2000px);
    transform: translateX(-2000px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes fadeInLeftBig 
{
  0% {
    opacity: 0;
    -webkit-transform: translateX(-2000px);
    -ms-transform: translateX(-2000px);
    transform: translateX(-2000px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}

.fadeInLeftBig 
{
    -webkit-animation-name: fadeInLeftBig;
    animation-name: fadeInLeftBig;
}

@-webkit-keyframes fadeInRight 
{
  0% {
    opacity: 0;
    -webkit-transform: translateX(20px);
    transform: translateX(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes fadeInRight 
{
  0% {
    opacity: 0;
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}

.fadeInRight 
{
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
}

@-webkit-keyframes fadeInRightBig 
{
  0% {
    opacity: 0;
    -webkit-transform: translateX(2000px);
    transform: translateX(2000px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes fadeInRightBig 
{
  0% {
    opacity: 0;
    -webkit-transform: translateX(2000px);
    -ms-transform: translateX(2000px);
    transform: translateX(2000px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}

.fadeInRightBig 
{
    -webkit-animation-name: fadeInRightBig;
    animation-name: fadeInRightBig;
}

/* Fin Animaciones */
    
/* Clases comunes */

body 
{
    font-family:'open_sans',Helvetica,Arial,sans-serif;
}

html 
{
    overflow-y:scroll;
}

.topbar 
{
    padding: 8px 0;
    position: relative;
    z-index: 12;
}

.topbar ul.loginbar 
{
    margin: 0;
}

.topbar ul.loginbar > li 
{
    display: inline;
    list-style: none outside none;
    padding-bottom: 15px;
    position: relative;
}

.topbar ul.loginbar > li > a, .topbar ul.loginbar > li > a:hover 
{
    font-size: 11px;
    text-transform: uppercase;
}


.topbar ul.loginbar li.topbar-devider 
{
    font-family: Tahoma;
    font-size: 8px;
    margin: 0 9px 0 5px;
    padding: 0;
    position: relative;
    top: -1px;
}

#Body_cuerpo, #cuerpo 
{
    margin-bottom:3em;

}

#Body_cuerpo.scroll, #cuerpo.scroll
{   
    padding-top:76px;
}

.buttonBegin 
{
    text-align: right;
}

.buttonBeginRetrain 
{
    margin-top: 20px;
    margin-left: 250px;
}


.btn-default 
{
    border:0;
}

.btn-primary,.btn-primary:active 
{
    font-weight: bold;
    text-transform: uppercase;
}

.btn-danger 
{
    text-transform:uppercase;
}

.btn-xs 
{
    padding:1px 5px;
    font-size:11px;
}

.btnClose {
    
   background-color: #b92c28;
   border: solid 1px #b92c28;
   color: white;
   width: 130px;
   text-align: center;
}

.btnClose:hover {
    
   background-color: #b92c28;
   border: solid 1px #b92c28;
   color: white;
   width: 130px;
   text-align: center;
}


.h1,.h2,.h3,.h4,.h5,.h6 
{
    font-family:'open_sans',Helvetica,Arial,sans-serif;
}

h1,.h1 
{
    line-height:35px;
}

.topbar .btn-xs 
{
    font-size:11px;
    text-transform:uppercase;
}

nav.navbar
{
    background:none;border:0;
    -webkit-transition:background-color 0.3s ease-in-out 0s;
    -ms-transition:background-color 0.3s ease-in-out 0s;
    -moz-transition:background-color 0.3s ease-in-out 0s; 
	transition:background-color 0.3s ease-in-out 0s;
}
 
nav.navbar-fixed-top {background:white;box-shadow:0 10px 10px -10px #777}
nav.navbar-fixed-top .navbar-brand{margin:5px 0;background-size:contain !important;height:35px;}
.navbar-brand{display:block;width:320px;height:56px;}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus{background:none;}
nav.navbar .dropdown-menu{padding:0;left:0;right:auto;border-top:2px; border-top:2px solid #00adee;border-radius:0; }
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus{color:#00adee;background:none;}
nav.navbar .dropdown-menu li{border-top:1px solid #eee;}
nav.navbar .dropdown-menu li:first-child{border:0;}

.copyright 
{
	font-size: 12px;
	padding: 11px 0 11px;
}

.copyright p 
{
	color: #dadada;
	margin-top: 12px;
}

.copyright a 
{
	margin: 0 5px;
}

.copyright a:hover 
{
	color: #eee;
}

.copyright a img 
{
	margin-top: 5px;
}

div.installSilver 
{
    margin-left: 75px;
}

.breadcrumbs 
{
    border-bottom: 1px solid white;
    overflow: hidden;
    padding: 10px 0 6px;
	margin-bottom:40px;
}

.breadcrumbs h1 
{
    color: white;
    margin-top: 8px;
	font-size:28px;
}

.breadcrumbsMobileHeader 
{
    border-bottom: 1px solid white;
    overflow: hidden;
	margin-bottom:20px;
    height: 8px;
}

.breadcrumbsMobileHeader h1 
{
    color: white;
    margin-top: 5px;
	font-size:14px;
}

.breadcrumbsMobileContent
{
    width: 100%;
}


.breadcrumbsMobileFooter 
{
    margin-left: 0px;
    margin-right: 0px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.breadcrumb 
{
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    padding-right: 0;
    position: relative;
    top: 10px;
	font-size:11px;
}

.breadcrumb a{color:black;}

.alRight {

    text-align: right;
}

.alLeft {

    text-align: left;
    
}

.uploader {
    
   background-color:#00adee;
   color: white;
   border: 1px solid gray;
   font: Verdana 10px;
   padding: 1px 4px;

}

/*.breadcrumb li:last-child a{color:white;} */


.imgUser {

    width: 280px;
}

.visible {

    visibility: visible;
}

.hidden {

    visibility: hidden;
    
}

.none {

    display: none;
}

.noneImportant {

    display: none !important;
}


.imgBannerSilver {
    
    vertical-align:top; 
    text-align: center;
    display: inline-block;
}

.labelBannerSilver {
    
    font-size: 14px; 
    margin-top: 5px; 
    vertical-align:middle; 
    height: 40%;
    display: inline-block;
}

.labelBanner {
    
    font-size: 15px; 
    width: 100%;
    display: inline-block;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
}


.divBannerSilver1 {
    
    width: 75%;
    float: left;
}

.divBannerSilver2 {
    
    width: 25%;
    float: left;
}

.fleft {
    
    float: left;
}

.divBanner2 {
    
    width: 100%;
    height: 25%;
    float: left;
    text-align: center;
}

.bannerSilver {
    
    border-radius: 3px; 
    -moz-border-radius: 3px; 
    width: 100%; 
    height: 65px; 
    text-align: right; 
    background-color: white; 
    border: solid 4px red; 
    vertical-align: middle; 
    display: inline-block;  
    visibility: hidden;
    display: none;
}

.bannerSilverApi {
    
    border-radius: 3px; 
    -moz-border-radius: 3px; 
    width: 100%; 
    height: 20%; 
    text-align: right; 
    background-color: white; 
    border: solid 4px gray; 
    vertical-align: middle; 
    display: inline-block;  
    visibility: visible;
}

.borderControl {

    border-bottom: solid 1px white;
    border-top: solid 1px white;
    border-right: solid 1px white;
    border-left: solid 1px white;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 510px;
    height: 510px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}


/* Fin clases comunes */

/* P�gina principal */
 
#Body_divContent
{
    color:white;
} 


#Body_divContent h1
{
    text-shadow:0 1px 0 black;
    font-size: 64px;
}


#Body_divContent p, #Body_divRegistrar p
{
    text-align:center;
    text-shadow:0 1px 0 black;
}

#Body_divContent a, #Body_divRegistrar a
{   
    color:white;
    text-decoration:underline;
} 

#Body_divContent .input-group .btn
{
    border-left:1px solid white;
} 

.username {

    height: 55px;
    width: 35%;
    background-color: white;
    opacity: 0.6;
    color: black;
    font-size: 24px;
    font-style: italic;
    text-align: center;
    
}

.field {

    height: 55px;
    width: 45%;
    background-color: white;
    opacity: 0.6;
    color: black;
    font-size: 24px;
    font-style: italic;
    text-align: center;
    
}

.fieldError {

    height: 55px;
    width: 45% !important;
    background-color: white;
    opacity: 0.6;
    color: red;
    font-size: 18px;
    font-style: italic;
    text-align: center;
    border: solid 2px red;
    padding: 5px 5px 5px 5px;
}


.divInfo {

    left: 30%;

}

.fieldInfo {

    float: left;
    background-color: #FF4D4D;
    height: 65px;
    min-height: 65px;
    min-width: 380px;
    color: white;
    font-size: 17px;
    font-style: italic;
    text-align: center;
    padding: 20px 20px 20px 20px;
}

.imageInfo {

    float: left;
    margin-left: auto;
    height: 65px;
    width: 65px;
    min-height: 65px;
    background-color: #E63F3F;
}

.fieldEdit {

    height: 30px;
    width: 80%;
    background-color: white;
    opacity: 0.6;
    color: black;
    font-size: 14px;
    font-style: italic;
    text-align: center;
    
}

.fieldEditError {

    height: 30px;
    width: 80% !important;
    background-color: white;
    opacity: 0.6;
    color: black;
    font-size: 14px;
    font-style: italic;
    text-align: center;
    border: solid 2px red;
}


.fieldEditing {

    height: 30px;
    width: 80%;
    background-color: white;
    opacity: 0.6;
    color: black;
    font-size: 14px;
    font-style: italic;
    text-align: center;
    border: solid 1px red;
    
}

.welcome {

    margin-top: 10px;
    border-bottom: 1px solid white;
    text-align: center;
    height: 180px;
}

.welcomeHeader {

    font-size: 28px;
    font-weight: bold;
    width: 80%;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
}


.welcomeContent {

    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    font-weight: 300;
    width: 80%;
}

.nofont {

    font-size: 0px;
}

.backButton 
{           
    margin-top: 15px;
    display: none;
}

.nextButton 
{           

    display: none;
    margin-top: 15px;
}

.registerHere 
{
    padding-top: 7px;
    padding-bottom: 1px;
    padding-left: 4px;
    padding-right: 4px;
}

.dataBaseHere 
{
   
    padding-top: 30px;
    padding-bottom: 0px;
    padding-left: 4px;
    padding-right: 4px;
    background-color: black;
    opacity: 0.8;
}

.dataBaseHereSelected 
{
    padding-top: 30px;
    padding-bottom: 0px;
    padding-left: 4px;
    padding-right: 4px;
    background-color: transparent;
    color: white;
    background-color: #AD262D;
    opacity: 0.85;
}

.dataBaseHereSelectedPin 
{
    padding-top: 30px;
    padding-bottom: 0px;
    padding-left: 4px;
    padding-right: 4px;
    background-color: transparent;
    color: white;
    background-color: #AD262D;
    opacity: 0.85;
    margin-top: -20px;
}

.termsHidden 
{
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 7px;
    padding-right: 7px;
    display: none;
}

.termsVisible
{
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 7px;
    padding-right: 7px;
    color: white;
    font-weight: bold;
    display: block;
    background: #AD262D;
    opacity: 0.85;
}

.termsVisible2
{
    color: white;
    display: block;
}

.loaderIndex 
{
    margin-top: 10px; 
    margin-left: 70px; 
    height: 220px; 
    width: 220px;
    visibility: visible;
}

/* Fin p�gina principal */

/* P�gina mobile */

.mobile1 {
    
    padding-left: 10%; 
    padding-right: 10%; 
    font-size: 18px;
}

.mobile2 {
    
    padding-left: 10%; 
    padding-right: 10%; 
    font-size: 14px;
    color: #0ba3c7;

}

.mobileCopy {
    
    margin-bottom: 0; 
    background-color: silver; 
    color: white; 
    padding: 10px 5% 5px 5%;
    font-size: 12px;
    width: 100%;
}

.mobileCopyLink {
    
    margin-bottom: 0; 
    background-color: silver; 
    color: white; 
    padding: 0px 5% 5px 5%;
    font-size: 12px;
    width: 100%;
}

.mobileSelphi {
    
    margin-top: 0;
    margin-bottom: 0; 
    background-color: black; 
    color: white; 
    padding: 0 5% 0 5%; 
    font-size: 10px;
    width: 100%;
}

.mobileSelphiTip {
    
    width: 60%; 
    font-size: 12px;
    margin-left: 10px;
    text-align: left;

}

.mobileLangExtended {

    min-width: 60px !important;
}

.mobileSelphiImg {
    
    text-align: left; 
    vertical-align: central; 
    margin-bottom: 10px;
}

.marginMobile1 {

    margin-bottom: 4%;
}

.marginMobile2 {

    margin-bottom: 6%;
}

.marginMobile3 {

    margin-bottom: 8%;
}


.rowMobile {
  margin-right: -60px;
  margin-left: -60px;
}


/* Fin p�gina mobile */

/* P�gina disclaimer */

#disclaimerCancel strong {
    color: #00adee;
}


/* Fin p�gina disclaimer */


/* P�ginas ayuda y manual */

.well{background:white;border:1px solid #eee;border-radius:0;margin-bottom:40px;}
.well p{margin-bottom:0;}

.consejos>div {margin-bottom:10px;}
.consejos img{margin-bottom:10px;} 
.consejos p{text-align:left; font-size: 12px;}

#Body_consejos2 {box-shadow:0 10px 10px -10px inset;}
#Body_consejos2 h2{margin:40px 0 30px 0;}
#Body_consejos2 .h3{margin-top:0;}
#Body_consejos2>.container>.row>div{margin-bottom:30px;}

.marginManual 
{
    margin-left: 45px;
}

/* Fin p�ginas ayuda y manual */


/* P�gina privada de usuario */

.img-user 
{
    height: 100%;
    width: 100%;
}

.menuSelector {
    
    width: 80%; 
    margin-left: 10%; 
    color: #0ba3c7;
    cursor: pointer;    
}

.menuSelectorHover {
    
    width: 80%; 
    margin-left: 10%; 
    background: #0ba3c7;
    color: white;
    cursor: hand;    
}

.menuSelectorDisabled {
    
    width: 80%; 
    margin-left: 10%; 
    color: gray;
    opacity: 0.6;
}

.imageMenu {

    margin-top: 20px;
    width: 45px; 
    height: 45px; 
    padding: 5px 5px 5px 5px;
    outline: none;
}

.imageMenuDisabled {

    margin-top: 20px;
    width: 45px; 
    height: 45px; 
    padding: 5px 5px 5px 5px;
    outline: none;
    cursor: default;
}

.labelMenu {
    
    text-align: center; 
    width: 100%; 
    font-size:12px;
    margin-bottom: 20px;
}

.headerMessage {
    
    text-align: left; 
    vertical-align: central; 
    padding-left: 40px;
    padding-top: 25px;
    padding-bottom: 10px;
    height: 80px;
}

.headerImage {
    
    text-align: left; 
    padding-left: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-right: 10px;
    width: 80px;
    height: auto; 
}

.headerImageLabel {
    
    text-align: left; 
    vertical-align: central; 
    padding-left: 5px;
    padding-top: 25px;
    height: 80px;
}

.imageSmall {

    width: 80px;
    height: 80px;
    border-radius: 50px;
    padding: 5px;
}

.labelMessage {
    
    height: 40px; 
    color: black; 
    width: 100%; 
    font-size: 18px; 
    font-weight: normal;
    
}

.labelMessageWelcome {
    
    height: 40px; 
    color: white; 
    width: 100%; 
    font-size: 20px; 
    font-weight: lighter;
    margin-bottom: 0;
    
}

.labelFieldsHeader {
    
    height: 40px; 
    color: gray; 
    width: 100%; 
    font-size: 36px; 
    font-weight: normal;
    margin-left: 20px;
    
}

.labelFieldsError {
    
    height: 40px; 
    color: red; 
    width: 100%; 
    font-size: 11px; 
    font-weight: normal;    
}

.labelInfoError {
    
    height: 40px; 
    color: red; 
    width: 100%; 
    font-size: 11px; 
    font-weight: normal;
    margin-left: 0px;    
}

.labelChartHeader {
    
    height: 30px; 
    color: black; 
    width: 100%; 
    font-size: 20px; 
    font-weight: normal;
    
}

.labelChartFooter {
    
    height: 30px; 
    color: gray; 
    width: 100%; 
    font-size: 16px; 
    font-weight: normal;
    
}

.labelChartHeaderMoney {
    
    height: 30px; 
    color: gray; 
    width: 100%; 
    font-size: 20px; 
    font-weight: normal;
    
}


.labelFields {
    
    height: 40px; 
    color: gray; 
    width: 100%; 
    font-size: 14px; 
    font-weight: normal;
    margin-left: 20px;
    margin-bottom: 0px;
    
}

.labelFieldsEditing {
    
    height: 40px; 
    color: gray; 
    width: 100%; 
    font-size: 14px; 
    font-weight: normal;
    margin-left: 20px;
    margin-bottom: 0px;
    
}

.labelFieldsError {
    
    height: 40px; 
    color: red; 
    width: 100%; 
    font-size: 14px; 
    font-weight: normal;
    margin-bottom: 0px;
    margin-left: 20px;
    
}

.labelFieldsEditingNone {

    display: none;
    
}

.labelDataFields {
    
    height: 40px; 
    color: #0ba3c7;
    width: 100%; 
    font-size: 14px; 
    font-weight: normal;
    margin-bottom: 0px;
    margin-left: -10px;
    
}


.contentMessage {

    padding: 0 0 0 0;
    
}

.cell 
{
    background: transparent;
    color: white;
    height: 30px;
    padding-left: 5px;
    padding-top: 5px;
    text-align: left;
    
}

.cellBorder 
{

    border-bottom: dotted 2px gray;
    
}

.contentEdit {

    text-align: right;
    padding-top: 8px;
    padding-right: 20px;
    
}


.profileIcon1 {

    width: 40px;
    height: 40px;
    z-index: 8;
    position: relative;
    
}


.profileIcon2 {

    width: 40px;
    height: 40px;
    z-index: 8;
    position: relative;
}


.profileCapture {

    width: 100px;
    height: 30px;
    z-index: 8;
    position: relative;
    opacity: 1;
    margin-top: 5px;
    
}

.profileCancel {

    width: 25px;
    height: 25px;
    margin-left: 36px;
    z-index: 8;
    position: absolute;
    opacity: 1;
    margin-top: -230px;
    
}


.imageLayer1 {

    padding: 2px 2px 2px 2px;
    margin-top: 20px;
    margin-left: 20px;
    text-align: center;
    background-color:  #e1e1e1;
    z-index: 7;
    position: relative;
    width: 230px;
    height: 230px;
    visibility: hidden;
    opacity: 0.9;
}


.imageLayer2 {

    margin-top: -230px;
    margin-left: 20px;
    position: relative;
    z-index: 1;
    opacity:1;
    background: #e1e1e1;
    width: 230px;
    height: 230px;
    text-align: center;
    vertical-align: middle;

}

.imageLayer3 {

    padding: 2px 2px 2px 2px;
    text-align: center;
    margin-top: -230px;
    margin-left: 20px;
    position: relative;
    opacity:1;
    z-index: 5;
    background: #e1e1e1;
    width: 230px;
    height: 230px;
    visibility: hidden;
}

.imageLayerError {

    padding: 2px 2px 2px 2px;
    text-align: center;
    margin-top: 5px;
    margin-left: 20px;
    position: relative;
    opacity:1;
    z-index: 5;
    background: transparent;
    color: red;
    width: 230px;
    height: 30px;
    visibility: hidden;
}

.videoPreview {

    top: -220px;
    border: solid 1px black;
    display: none;
}

.canvasPreview {

    top: -220px;
}




.borderPanelUser {

    visibility: hidden;
}


#Body_divContent h1, #divContent h1{margin-top:0;}
#Body_paginaTXT, #paginaTXT{line-height:24px;}
#Body_paginaTXT>.container, #paginaTXT>.container{margin-top:40px;}

/* Fin P�gina privada de usuario */


/* P�gina de registro */

#Body_registro p.h3+p,#registro p.h3+p{margin-bottom:30px;}


div.registerContainer 
{
    float: left;
    margin-right: 45px;
    width: 460px; 
    height: 310px;
    margin-top: 20px;
}

.marginStep1 
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.marginStep 
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}


div.imageFacePanel 
{
    display: table-cell; 
    width: 500px; 
    height: 300px;
    margin-left: 50px;
    margin-bottom: 25px; 
    float: left;
}

.imageFace 
{
     width: 400px;
     height: 290px;
     margin-left: 50px;
     margin-bottom: 50px;
}

div.divNext 
{
    margin-top: 15px;
    display: none;
}

div.divRepeat 
{
    display: inline;
    float: left; 
    width: 75px;  
    height: 30px;    
}


.divSave 
{
     margin-bottom: 10px;
     margin-top: 10px;
}

.buttonSave 
{
    margin-top: 15px;
    text-align: center;
}

.divLoaderRegistro 
{
    width: 50%;
}

.loaderRegistro
{
    margin-top: 120px; 
    margin-right: auto;
    opacity: 0.2;
    
}

.waitRegistro 
{
    visibility: hidden;
    color: white;
    margin-left: 20px;
    margin-right: auto;
}

/* Fin P�gina de registro */


/* P�gina de reentrenamiento */
 
.buttonBack 
{
     margin-left: 0;
}

.buttonDiscard 
{
    margin-left: 0;
    margin-top: 20px;
}

.panelSilverControl
{
    width: 50%;
    margin: 0 auto;
}


.labelInfo 
{
    margin-top: 30px;
    margin-bottom: 80px;
}


.divButtons 
{
    display: inline;
    margin-top: 130px;
}

#Body_actualizar img, #actualizar img 
{
    margin:0 auto;
    display:block;
}

.retrainWidthLeft 
{
    width: 45%;
}

.retrainWidthRight 
{
    
    width: 55%;
    margin-left: 20px;
    
}

.retrainDivLeft 
{

    width: 80%;
}
 
/* Fin p�gina de reentrenamiento */ 


/* P�gina actualizar foto */

.panelUpdate
{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.imgUpdateLeft 
{
    
    margin-right: 120px;
    opacity: 0.5; 
    
}

.silverUpdateRight
 {
    
    text-align: right;
    width: 50%;    
}

.loaderUpdate 
{
    
    visibility: hidden;
    margin-left: 400px;
    
}

/* Fin P�gina actualizar foto */ 

/* Pagina Administraci�n */

div.tableAdministracion 
{
    display: table;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

div.tableAdministracionLogs 
{
    display: table;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

div.rowAdministracion 
{
    display: table-row;
    width: 100%;
    margin-bottom: 10px;
}

div.cellAdministracion 
{
    display: table-cell;
}

div.rowAdministracionInfo 
{
    display: table-row;
    width: 100%;
    float: left;
    margin-bottom: 10px;
}

.tableTitleAdmin 
{
   
    display: table;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

/* Fin Pagina Administraci�n */


/* P�gina Logs */

.calendarFrom 
{
    margin-left: 10px;
    margin-right: 10px;
    float: left;
}

.calendarTo 
{
    margin-left: 10px;
    margin-right: 10px;
    float: left;
}

.calendarTextBox 
{
    margin-left: 0;
    margin-right: 2px;
    margin-bottom: 5px;
    float: left;
}

.calendarOne
{
    margin-left: 0;
    margin-right: 2px;
    margin-bottom: 5px;
    float: left;
}

.calendarTwo
{
    margin-left: 0;
    margin-bottom: 5px;
    float: left;
}

.tableTitle 
{
    width: 100%;
    margin-bottom: 10px;
}

.cellLeft 
{
    float: left;
    text-align: left;
    margin-left: 5px;
}


.imgCalendar 
{
    width: 25px;
    cursor: pointer;
}

.titleFilter 
{
    width: 30%;
    float: right;
    text-align: right;
    margin-left: 10px;
}

.selectFilter 
{
    width: auto;
    float: left;
}

.btnFilter 
{
    height: 30px;
    float: left;
    margin-left: 15px;
}

.labelFilter 
{
    font-size: 22px;
    margin-left: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 10px 10px 10px 10px;
}

.estadisticas 
{
    margin-bottom: 5px;
    color: #3276b1;
    padding: 5px 5px 5px 5px;
    border: solid 1px gray;
}

/* Fin P�gina Logs */

/* P�gina UserLogs */

div.userCard 
{
    width: 25%;
    height: 50%;
    display: table;
    border: solid 2px #3e4753;
    padding-left: 50px;
    padding-top: 50px;
    margin-bottom: 50px;
    text-align: left;
}

div.userImage 
{
    float: right; 
    width: 460px; 
    height: 280px;
}

.userImage img 
{
    width: 280px;
}

div.userInfo
{
    float: left;
    width: 80%;
    height: 30px;
    display: table-row;
    color:black;
    padding: 10px 5px 5px 5px ;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin-bottom: 10px;  
    margin-top: 10px; 
}

/* Fin P�gina UserLogs */

/* Popups */

.popup-bg 
{ 
	position: fixed; 
	height: 100%;
	width: 100%;
	background: rgba(0,0,0,.8);
	z-index: 2000;
	display: none;
	top: 0;
	left: 0; 
}
		
.popupLeft
{
	visibility: hidden;
	top: 15%;
    left: 5%;
    width: 35%;
    height: auto;
	background: whitesmoke url(../../../img/modal-gloss.png) no-repeat -200px -80px;
	position: fixed;
	z-index: 2010;
	padding: 30px 40px 34px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}		

.popupLeftSmall
{
	visibility: hidden;
	top: 15%;
    left: 5%;
    width: 30%;
    height: auto;
	background: whitesmoke url(../../../img/modal-gloss.png) no-repeat -200px -80px;
	position: fixed;
	z-index: 2010;
	padding: 30px 40px 34px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}		
		
.popup
{
	visibility: hidden;
	top: 2%;
    left: 30%;
    width: 35%;
    height: auto;
	background: whitesmoke url(../../../img/modal-gloss.png) no-repeat -200px -80px;
	position: fixed;
	z-index: 2010;
	padding: 30px 40px 34px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
		
.popup .close-modal 
{
	font-size: 22px;
	line-height: .5;
	position: absolute;
	top: 2%;
	right: 2%;
	color:black;
	font-weight: bold;
	cursor: pointer;
    padding: 2px 2px 3px 2px;
}

.popupLeft .close-modal 
{
	font-size: 22px;
	line-height: .5;
	position: absolute;
	top: 2%;
	right: 2%;
	color:black;
	font-weight: bold;
	cursor: pointer;
    padding: 2px 2px 3px 2px;
}

.popupLeftSmall .close-modal 
{
	font-size: 22px;
	line-height: .5;
	position: absolute;
	top: 2%;
	right: 2%;
	color:black;
	font-weight: bold;
	cursor: pointer;
    padding: 2px 2px 3px 2px;
}

.popup .next-modal 
{
	display: inline-block;
    padding: 6px 12px;
    position: absolute;
	bottom: 2%;
	right: 2%;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: solid 2px;
}

.popupLeft .next-modal 
{
	display: inline-block;
    padding: 6px 12px;
    position: absolute;
    bottom: 2%;
	right: 2%;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: solid 2px;
}


.popupLeftSmall .next-modal 
{
	display: inline-block;
    padding: 6px 12px;
    position: absolute;
    bottom: 2%;
	right: 2%;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: solid 2px;
}


.popup .ok-modal 
{
	display: inline-block;
    padding: 6px 12px;
    position: absolute;
    bottom: 2%;
	right: 26%;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: solid 2px;
}

.popupLeft .ok-modal 
{
	display: inline-block;
    padding: 6px 12px;
    position: absolute;
	bottom: 2%;
	right: 26%;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: solid 2px;
}

.popupLeft .ok-no-modal 
{
	display: inline-block;
    padding: 6px 12px;
    position: absolute;
	bottom: 2%;
	right: 26%;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: solid 2px;
}

.popup .cancel-modal
{
    padding: 6px 12px;
    position: absolute;
	bottom: 2%;
	right: 2%;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: solid 2px;
}

.popupLeft .cancel-modal
{
    padding: 6px 12px;
    position: absolute;
	bottom: 2%;
	right: 2%;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: solid 2px;
}

.popupLeft .cancel-no-modal
{
    padding: 6px 12px;
    position: absolute;
	bottom: 2%;
	right: 2%;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: solid 2px;
}


.popupLogo 
{
    left: 5%;
    width: 90%;
    height: auto;
}

.popupTitle 
{
    color:black;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
}

.popUpLabel 
{
    text-align:left !important;
    text-shadow:0 0 0 black !important;
    font-size: 13px;
    line-height: 1.42857143;
    color:black;
    margin-bottom: 40px;
}

.popUpLabelMayor 
{
    
    text-align:left !important;
    text-shadow:0 0 0 black !important;
    font-size: 13px;
    line-height: 1.42857143;
    color:black;
    margin-bottom: 10px;
    
}

.popUpLabelMinor 
{
    
    text-align:left !important;
    text-shadow:0 0 0 black !important;
    font-size: 13px;
    line-height: 1.42857143;
    color:black;
    font-style: italic;
    margin-bottom: 5px;
    margin-left: 15px;
    
}

/* Fin Popups */

.photoDetector {
   
    font-family: Raleway; 
    width: 510px; 
    height: 510px; 
    border: solid 1px white; 
    margin-left: 316px;
}

.detectorTitle {
    
    font-family: Raleway; 
    font-size: 14px; 
    color: white;
    opacity: 1.0;
}

.detectorCancel {
    
    position: absolute; 
    margin-left: -89px;
    margin-top: 312px; 

}


.detectorContinue {
    
    position: absolute; 
    margin-left: 136px;
    margin-top: 312px; 

}

.detectorMask {

    background-color: white;

}

.detectorLabel {
    
    position: absolute;  
    margin-top:140px; 
    text-align: center;
    margin-left: 40px; 
}

.detectorImage {
    
    position: absolute;  
    margin-top:80px; 
    text-align: center;
    margin-left: 118px; 

}

.detectorContainer {
    
    width: 510px; 
    height: 510px; 
    border: solid 1px white !important;
    margin-left: 316px;
}

.livenessTitle {
    
   font-family: Raleway; 
   font-size: 20px; 
   color: grey;
}

.livenessSub {
    
   font-family: Raleway; 
   font-size: 13px; 
   color: grey;
}

.detectorLabelSub {
    
    position: absolute;
    margin-top:165px; 
    text-align: center;
    margin-left: 90px;
}

.detectorLabelCheck {
    
    font-family: Raleway; 
    position: absolute;
    margin-top: 280px; 
    text-align: center;
    margin-left: 0px;
    color: black;
    font-size: 13px;
    padding-left: 5px;
    margin-left: 15px;
}

.detectorCircle {
    
    border: solid 3px #00a1e8; 
    background-color: #0ba3c7; 
    border-radius:250px;
     opacity: 1; 
     width: 280px; 
     height: 280px; 
     margin-left: 55px; 
     margin-top: 8px;

}

.borderControlLiveness {

    border-bottom: solid 1px white;
    border-top: solid 1px white;
    border-right: solid 1px white;
    border-left: solid 1px white;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 450px;
    height: 450px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: white;
    margin-top: 20px;
}

.borderControlLivenessChrome {

    border-bottom: solid 1px white;
    border-top: solid 1px white;
    border-right: solid 1px white;
    border-left: solid 1px white;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 450px;
    height: 450px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: white;
    margin-top: 30px;
}